[core]
  excludesfile = ~/.gitignore_global
	editor = visual-studio-code
[user]
	name = Drew Hutton
	email = dragoz2308@gmail.com
  username = yoroshikun
[color]
  ui = true
[push]
  default = simple

